.basicLabel {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
  font-family: 'Nanum Pen Script', cursive;
}

.photoUpload {
  text-align: left;
}

.search {
  text-align: right;
  position: absolute;
  right: 3px;
  top: -24px;
  font-weight: bold;
}

.userCheckboxLabel {
  display: flex;
  border-radius: 20px;
  margin: 4px;
  cursor: pointer;
}

.userCheckboxLabel span {
  height: 100%;
  width: 100%;
  border: 1px dotted black;
  border-radius: 20px;
  padding: 8px;
  transition: 250ms all ease;
}

.userCheckboxLabel span:hover {
  border: none;
  background-color: #ecdaf3;
}

.userCheckboxLabel input:checked + span {
  border: none;
  background-color: #ecdaf3;
}
