.basicBtn {
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fdfbf9;
  font-weight: bold;
  cursor: pointer;
}

.emailCheck {
  height: 35px;
  width: 23%;
  background-color: rgb(215 162 185);
  font-size: 12px;
}

.signupBtn {
  background-color: #75d777;
  margin-top: 5%;
  height: 35px;
  font-size: 13px;
  cursor: pointer;
  transition: all 200ms ease;
}

.loginBtn {
  background-color: rgb(238 199 152);
  height: 35px;
  margin-top: 25px;
  border: 0.5px solid rgb(219, 219, 219);
  border-radius: 12px;
  font-size: 12px;
  transition: all 300ms ease-out;
}

.loginBtn:hover {
  background-color: rgb(218, 197, 144);
}

.modalCloseBtn {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  right: -1px;
  top: 2px;
}

.accepBtn {
  background-color: #75d777;
  border-radius: 3px;
  font-size: 15px;
  margin-right: 5px;
  width: 30%;
  height: 80%;
}

.refusalBtn {
  background-color: #e46060;
  border-radius: 3px;
  font-size: 15px;
  width: 30%;
  height: 80%;
}

/* .basicBtn {
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fdfbf9;
  font-weight: bold;
  cursor: pointer;
} */
