.alarmCardBody {
  padding: 0px;
  justify-content: center;
  list-style: none;
  border: 1.7px solid black;
  border-radius: 10px;
  height: 150px;
  position: relative;
  margin-bottom: 18px;
  cursor: default;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  text-align: center;
  box-shadow: 4px 4px 4px rgb(103, 82, 54);
}

.alarmCardBody:hover {
  background-color: rgb(246, 234, 216);
}

.alarmContentSection {
  margin-bottom: 30px;
}

.alarmContentSection p {
  margin: 0px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.btnSection {
  position: absolute;
  bottom: 8px;
  right: 10px;
  height: 30px;
  width: 60%;
  text-align: right;
}

.createAtSection {
  position: absolute;
  left: 10px;
  top: 11px;
  opacity: 0.8;
  font-size: 13px;
}
