.alarmCardBody {
  padding: 0px;
  justify-content: center;
  list-style: none;
  border: 1.7px solid black;
  border-radius: 10px;
  height: 150px;
  position: relative;
  margin-bottom: 18px;
  cursor: default;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  text-align: center;
}

.alarmCardBody:hover {
  background-color: rgb(246, 234, 216);
}

.alarmContentSection {
  margin-bottom: 30px;
}

.alarmContentSection p {
  margin: 0px;
  height: 20px;
  line-height: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.btnSection {
  position: absolute;
  bottom: 8px;
  right: 10px;
  height: 30px;
}

.accepBtn {
  background-color: #75d777;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  margin-right: 5px;
  height: 80%;
  cursor: pointer;
}

.refusalBtn {
  background-color: #e46060;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  height: 80%;
  cursor: pointer;
}
