.cardBody {
  list-style-type: none;
  border: none;
  background-color: #ffdeb2;
  border-radius: 3px;
  height: 90px;
  margin-bottom: 10px;
  line-height: 55px;
  padding: 15px;
  transition: all 150ms ease;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(166, 166, 166);
  display: flex;
  font-family: 'Jua', sans-serif;
  text-align: left;
}

.defaultLi {
  width: 100%;
  text-align: center;
  display: block;
  line-height: 65px;
}

li:hover,
.defaultLi:hover {
  background-color: #ead0b0;
  transform: rotate(1.2);
  border-radius: 0px;
}

.imageSection {
  width: 70px;
  background-color: transparent;
  margin-right: 3%;
}

.infoSection {
  width: 70%;
  display: block;
  overflow: hidden;
  color: #353434;
}

.infoSection p {
  margin: 0px;
  height: 20px;
  line-height: 15px;
  margin-top: 10px;
  font-weight: bold;
}

.nickNameP {
  font-size: 13.5px;
  opacity: 0.5;
}

.plusIcon {
  color: white;
  font-size: 25px;
}

.cardTitle {
  height: 30px;
  font-weight: 400;
  font-size: 1.5vw;
  color: #46423df3;
  font-family: 'Jua', sans-serif;
  line-height: 35px;
}
