.modalBackground {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.modalSection {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: 580px;
  background-color: #faf6f1;
  text-align: center;
  justify-content: center;
  border-radius: 1px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgb(191, 146, 87);
}

.modalCloseBtn {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  right: -1px;
  top: 2px;
}

.searchSection {
  height: 45px;
}

.searchSection input {
  height: 91%;
  width: 80%;
  border: none;
  background-color: transparent;
}

.searchSection input:focus {
  outline: none;
}

.listSection {
  height: 330px;
  overflow: scroll;
}

.listSection::-webkit-scrollbar {
  display: none;
}

.subTtile {
  font-size: 14px;
}

.modalSection section {
  margin: 20px;
  border-radius: 3px;
  position: relative;
  border: 1.7px solid black;
  background-color: #efe7de;
}

.modalSection section span {
  position: absolute;
  right: 3px;
  top: -24px;
  font-weight: bold;
}
