.profileSection {
  height: 85%;
  margin-top: 4%;
  text-align: center;
}

.imgSection {
  height: 40%;
}

.infoSection {
  height: 15%;
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

.nickName {
  width: 100%;
  font-size: 45px;
  font-weight: bold;
}

.emailNameDiv {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 5px;
}

.email,
.name {
  opacity: 0.7;
  font-size: 18px;
}

.btnSection {
  height: 30px;
}
