.modalBackground {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.modalSection {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 580px;
  background-image: url(../../../../../../public/assets/img/Smooth\ Notebook\ Paper.PNG);
  text-align: center;
  justify-content: center;
  border-radius: 1px;
  border: 2px solid black;
  overflow: scroll;
  box-shadow: 5px 5px 5px rgb(191, 146, 87);
}

.modalSection::-webkit-scrollbar {
  display: none;
}

.titleSection {
  margin-top: 35px;
}

.mapSection {
  width: 90%;
  height: 380px;
  margin-left: auto;
  margin-right: auto;
  border: 1.7px solid black;
}

.currentBtn {
  position: absolute;
  left: 28px;
  margin-top: 10px;
  border: none;
  background-color: #ffe4ca;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  font-weight: bold;
  font-size: 12px;
}

.searchSection {
  height: 40px;
  border: 1.7px solid black;
  border-radius: 5px;
  width: 89.5%;
  margin: auto;
  margin-bottom: 13px;
  margin-top: 15px;
}

.searchSection input {
  height: 91%;
  width: 80%;
  border: none;
  background-color: transparent;
}

.searchSection input:focus {
  outline: none;
}
