.errorMessageDiv {
  text-align: left;
  width: 95%;
  height: 15px;
  font-size: 10.5px;
  color: red;
  margin-bottom: 10px;
  display: none;
}

.login {
  margin-top: 5px;
  padding-left: 3px;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}
