.detailScheduleLiCard {
  margin: 8px;
  margin-top: 5px;
  height: 200px;
  list-style-type: none;
  border: none;
  background-color: #e0cfeb;
  border-radius: 2px;
  transition: all 150ms ease;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(166, 166, 166);
  display: block;
  text-align: center;
  position: relative;
}

.cardTitle {
  height: 30px;
  font-weight: 400;
  font-size: 1.3vw;
  color: #262626;
  font-family: 'Jua', sans-serif;
  line-height: 120px;
}
