.main {
  display: flex;
  height: 87vh;
  margin: auto;
  margin-top: 17px;
  width: 99vw;
}

.roomLeftSection,
.roomRightSection {
  margin: 20px;
  border-radius: 3px;
  position: relative;
  border: 1.7px solid black;
  overflow: scroll;
  text-align: right;
  box-shadow: 1px 1px 3px 1px #929aab;
}

.roomLeftSection::-webkit-scrollbar {
  display: none;
}

.roomRightSection::-webkit-scrollbar {
  display: none;
}

.scheduleSpan,
.friendsListSpan {
  position: sticky;
  right: 5px;
  top: -24px;
  font-weight: bold;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 18px;
}

.roomLeftSection {
  width: 23%;
}
.roomRightSection {
  width: 78%;
}
