.detailScheduleLiCard {
  margin: 8px;
  margin-top: 5px;
  height: 200px;
  list-style-type: none;
  border: none;
  background-color: #e0cfeb;
  border-radius: 2px;
  transition: all 150ms ease;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(166, 166, 166);
  display: block;
  text-align: center;
  position: relative;
}

.cardTitle {
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  color: #262626;
  font-family: 'Jua', sans-serif;
  line-height: 120px;
}

.dateNumber {
  position: absolute;
  color: #262626;
  top: 12px;
  right: 15px;
  font-weight: bold;
  opacity: 0.8;
  font-size: 14px;
  margin-top: 0px;
}
