.ulList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 0px;
  margin-top: 5px;
  text-align: center;
}

.ulList li:hover,
.ulList button:hover {
  background-color: #d2df8f;
  transform: rotate(1.5);
  border-radius: 0px;
}

@media (max-width: 1300px) {
  .ulList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  .ulList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .ulList {
    grid-template-columns: 1fr 1fr;
  }
}
