.main {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 600px;
  margin: auto;
  margin-top: 3%;
  text-align: center;
  justify-content: center;
  border-radius: 1px;
  border: 1.7px solid black;
  position: relative;
}

.main button {
  cursor: pointer;
}

.main h3 {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formSection {
  width: 540px;
  margin-left: 75px;
  margin-right: auto;
  text-align: left;
  margin-top: 20px;
}

.formSection input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}

.formSection input:focus {
  outline: none;
}

.roomTitleSection,
.dateSection,
.invitationSection,
.locationSection {
  text-align: left;
  margin-bottom: 25px;
}

.dateSection {
  display: flex;
  width: 100%;
}

.dateSection2 {
  width: 40%;
  position: relative;
}

.timeSection {
  width: 40%;
}

.locationSection {
  position: relative;
}

.roomTitleInput {
  height: 25px;
  width: 60%;
  padding: 3px;
}

.dateInput {
  height: 25px;
  width: 85%;
  padding: 3px;
  font-weight: 400;
  cursor: pointer;
}

.dateIcon {
  position: absolute;
  right: 73px;
  top: 35px;
  color: #c9bfb2;
}

.locationInput {
  height: 25px;
  width: 100%;
  padding: 3px;
}

.meetingBtn {
  position: absolute;
  top: 33px;
  right: 0px;
  font-weight: 550;
  background-color: #c8ac88;
  color: rgb(255 255 255);
  border: 1px solid black;
}

.invitationSection {
  height: 130px;
  width: 100%;
  overflow: scroll;
  border: 1.5px solid black;
  border-radius: 3px;
}

.invitationSection::-webkit-scrollbar {
  display: none;
}
