.cardBody {
  list-style-type: none;
  border: none;
  background-color: #ffdeb2;
  border-radius: 3px;
  height: 90px;
  margin-bottom: 10px;
  line-height: 55px;
  padding: 15px;
  transition: all 150ms ease;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(166, 166, 166);
  display: flex;
  font-family: 'Jua', sans-serif;
  text-align: left;
}

li:hover {
  background-color: #ead0b0;
  transform: rotate(1.2);
  border-radius: 0px;
}

.imageSection {
  width: 70px;
  background-color: transparent;
  margin-right: 3%;
}

.cardImg {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 3px 3px 3px rgb(208, 198, 175);
}

.infoSection {
  width: 70%;
  display: block;
  overflow: hidden;
  color: #353434;
}

.infoSection p {
  margin: 0px;
  height: 20px;
  line-height: 15px;
  margin-top: 10px;
  font-weight: bold;
}

.nickNameP {
  font-size: 13.5px;
  opacity: 0.5;
}
