.scheduleLiCard {
  margin: 8px;
  margin-top: 5px;
  height: 200px;
  list-style-type: none;
  border: none;
  background-color: #dcea9a;
  border-radius: 8px;
  transition: all 150ms ease;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(166, 166, 166);
  display: block;
  text-align: center;
  position: relative;
  font-family: 'Jua', sans-serif;
}

.cardTitle {
  height: 30px;
  font-weight: 400;
  font-size: 1.3vw;
  color: #262626;
  line-height: 120px;
}

.bottomSection {
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.membersNumber {
  color: #262626;
  font-weight: bold;
  opacity: 0.8;
  font-size: 0.9vw;
}

.plusIcon {
  color: white;
  font-size: 45px;
}
