.ulList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-left: 0px;
  margin-top: 5px;
  text-align: center;
}

.ulList li:hover {
  background-color: #d2df8f;
  transform: rotate(1.2);
  border-radius: 0px;
}

.plusLi {
  margin: 8px;
  margin-top: 5px;
  height: 200px;
  list-style-type: none;
  border: none;
  background-color: #dcea9a;
  border-radius: 2px;
  line-height: 210px;
  transition: all 150ms ease;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgb(166, 166, 166);
  display: block;
  text-align: center;
}

.plusIcon {
  color: white;
  font-size: 45px;
}

@media (max-width: 1000px) {
  .ulList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .ulList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .ulList {
    grid-template-columns: 1fr;
  }
}
