.main {
  display: flex;
  height: 600px;
  margin: auto;
  margin-top: 17px;
  width: 99vw;
}

.mainLeftSection,
.mainRightSection {
  margin: 20px;
  border-radius: 3px;
  position: relative;
  border: 1.7px solid black;
}

.mainLeftSection::-webkit-scrollbar {
  display: none;
}

.mainRightSection::-webkit-scrollbar {
  display: none;
}

.scheduleSpan,
.friendsListSpan {
  position: absolute;
  right: 3px;
  top: -24px;
  font-weight: bold;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 18px;
}

.mainLeftSection {
  width: 400px;
}
.mainRightSection {
  width: 1200px;
}
